<html>
	
	
	<body>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="title2 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<div class="separator_first_circle">
							<div class="separator_second_circle_grey"></div>
						</div>
						SKILLS
					</div>
					<h4 class="skill-title">Creative Design</h4>
					<div class="persen">85%</div>
					<div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        
                        </div>
                    </div>
					<h4 class="skill-title">Web Development</h4>
					<div class="persen">90%</div>
					<div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        
                        </div>
                    </div>
					<h4 class="skill-title">HTML5 &amp; CSS3</h4>
					<div class="persen">75%</div>
					<div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        
                        </div>
                    </div>
					<h4 class="skill-title">Photography</h4>
					<div class="persen">75%</div>
					<div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        
                        </div>
                    </div>
				</div>
	</body>
	
	
</html>